body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
textarea {
  width: 400px;
  height: 250px;
}
.container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 30px;
  margin-left: 150px;
  margin-right: 150px;
}
/* find box*/

.find__box {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  padding-left: 10px;
}
h2 {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}
.find__box input[type="text"],
input[type="submit"] {
  width: 170px;
  margin-top: 10px;
}
.find__box input[type="submit"] {
  margin-top: 10px;
  margin-bottom: 20px;
}
.find__box .z {
  margin-right: 5px;
}
.find__box #choose_fields {
  width: 170px;
}
/*bảng show hiện thị*/
.result__find {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}
/* find cousrse*/
.list_courses {
  margin-left: 10px;
  margin-right: 10px;
  height: auto;
}
.list_courses .template_course {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 10px;
  row-gap: 40px;
  column-gap: 20px;
}
.grid_item-box {
  display: grid;
  grid-template-rows: auto auto auto;
  height: auto;
  row-gap: 5px;
}

.list_courses .grid_item {
  width: 280px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  background-color: white;
}
.list_courses .grid_item-name {
  margin-top: 2px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
}
.list_courses .grid_item-price {
  color: red;
  font-weight: bolder;
}
.list_courses .hover-button {
  margin-left: 33px;
  width: 200px;
  height: 35px;
  margin-top: 15px;
  font-weight: bolder;
  background-color: white;
  border: 1px solid rgb(85, 26, 139);
  margin-bottom: 10px;
}
.hover-button:hover {
  display: block;
  cursor: pointer;
  border: none;
  background-color: rgb(85, 26, 139);
  color: white;
}

.list_courses p,
h3 {
  margin-left: 10px;
  margin-right: 10px;
}
img {
  width: 270px;
  height: 150px;
  object-fit: cover;
}
.fields {
  background-color: orange;
  color: black;
  font-weight: lighter;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
.grid_item-sub {
  text-align: justify;
}

/* table courses*/
#table_cousre {
  border: 1px solid red;
}
.template_course--enroll {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}
th,
td {
  padding: 5px;
}
table,
td,
th {
  border: 3px solid black;
  border-collapse: collapse;
}

th {
  background-color: #00c9ff;
}

td,
th {
  text-align: center;
  padding: 10px;
  font-size: 14px;
}
