.header {
  border-bottom: 2px solid black;
}

.header .manager {
  margin-left: 20px;
}

/*menu con */
.main-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Các mục trong menu chính */
.main__container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main__box {
  width: 1200px;
  height: auto;
}

main .title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
/* phần auto khóa học*/
.list_courses {
  margin-left: 10px;
  margin-right: 10px;
  height: auto;
}
.list_courses .template_course {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 20px;
}
.template_course:hover {
  height: 30px;
}
.grid_item-box {
  display: grid;
  grid-template-rows: 70px 70px auto;
  height: auto;
  row-gap: 5px;
}

.list_courses .grid_item {
  width: 280px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  background-color: white;
}
.list_courses .grid_item-name {
  margin-top: 2px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  height: 70px;
}
.list_courses .grid_item-price {
  color: red;
  font-weight: bolder;
}
.list_courses .hover-button {
  margin-left: 33px;
  width: 200px;
  height: 35px;
  margin-top: 15px;
  font-weight: bolder;
  background-color: white;
  border: 1px solid rgb(85, 26, 139);
}
.hover-button:hover {
  display: block;
  cursor: pointer;
  border: none;
  background-color: rgb(85, 26, 139);
  color: white;
}

.list_courses p,
h3 {
  margin-left: 10px;
  margin-right: 10px;
}
img {
  width: 270px;
  height: 150px;
  object-fit: cover;
}
.fields {
  background-color: orange;
  color: black;
  font-weight: lighter;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
.grid_item-sub {
  text-align: justify;
}
